<h1> Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="conform_password" placeholder="Conform Password" required>
    <input type="submit" value="SignUp">
</form>